@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@font-face {
  font-family: "Oswald";
  src: url("/Assets/Fonts/Oswald_Headers/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "LoraItalic";
  src: url("/Assets/Fonts/Lora_Body/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("/Assets/Fonts/Lora_Body/Lora-VariableFont_wght.ttf");
}

html,
body {
  background-color: #121212;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
